<launch>
  <!-- User supplied arguments -->
  <arg name="pointcloud_topic"
       doc="ROS topic for pointcloud input"/>
  <arg name="bag_file"
       default="/home/lxl/Documents/dataset/bagfiles/asl_office_floor.bag"
       doc="Replay the rosbag at the specified path. Can be left blank." />
  <arg name="play_bag"
       default="true"/>
  <arg name="visualize" 
       default="false"
       doc="visual mask and depth segmentation image"/>
  <arg name="rosbag_skip_first_n_sec"
       default="0"
       doc="Skip the first n seconds of the rosbag." />
  <arg name="debug_mode"
       default="true"
       doc="Run the mapper in debug mode." />
  <arg name="show_rviz"
       default="false"
       doc="Automatically launch Rviz." />


  <!-- Run voxblox_pp in sliding window mode -->
  <group>
    <include file="$(find gsm_node)/launch/vpp_pipeline.launch">
        <arg name="scene_name" value="asl_office_floor" />
        <arg name="sensor_name" value="primesense" />
        <arg name="visualize" value="$(arg visualize)" />
        <param name="use_sim_time" value="true"/>
    </include>

  
  </group>

  <!-- Run voxgraph, subscribing to voxblox's sliding window -->
  <group>
    <arg unless="$(arg debug_mode)" name="launch_prefix" value="" />
    <arg if="$(arg debug_mode)" name="launch_prefix" value="gdb -ex run --args" />

    <node name="voxgraph_mapper" pkg="voxgraph" type="voxgraph_mapping_node"
          output="screen" launch-prefix="$(arg launch_prefix)">
      <rosparam file="$(find voxgraph)/config/scenenn_voxgraph_mapper.yaml" />
      <param name="submap_topic" value="/gsm_node/tsdf_map_out" />
    </node>
  </group>

  <!-- Show Rviz -->
  <group if="$(arg show_rviz)">
    <arg name="rviz_file" default="$(find voxgraph)/config/voxgraph_mapper.rviz" />
    <node pkg="rviz" type="rviz" name="$(anon rviz)" output="screen"
          args="-d $(arg rviz_file)" />
  </group>

  <!-- <node name="bag" pkg="rosbag" type="play" output="screen" args=" -d 5 -r 0.2 -clock $(arg bag_file)" if="$(arg play_bag)">
  </node> -->
</launch>
